name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
defaults:
  run:
    shell: pwsh
jobs:
  deploy:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Check for secrets
        env:
          SECRETS_AVAILABLE: ${{ secrets.SECRETS_AVAILABLE }}
        run: exit $(If ($env:SECRETS_AVAILABLE -eq 'true') { 0 } Else { 1 })
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: 8.0.x
      - name: Build
        run: dotnet build src --configuration Release
      - name: Run tests
        uses: Particular/run-tests-action@v1.7.0
        env:
          THROUGHPUT_REPORT_PRIVATEKEY_PEM: ${{ secrets.THROUGHPUT_REPORT_PRIVATEKEY_PEM }}     
      - name: Publish artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: nugets
          path: nugets/*
          retention-days: 1  